body {
    padding: 64px;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background: orange;
  
    transition-property: transform;
    transition-duration: 1s;
  }
  
  .box:hover {
    /* transform: translate(50px, 20px); */
    /* transform: rotate(30deg); */
    /*transform: scale(0.5, 2);*/
  
    /*transform: translateX(100px) rotate(30deg);*/
    transform: rotate(30deg) translateX(100px);
  }